.about-hader-text{
    color: orange;
    font-weight: 700;
    font-size: 45px;
    margin-top: 150px;
}
.aboutmore{
    font-size: 35px;
    font-weight: 700;

}
.aboutmore-text{
    margin-left: 40px;
}
.text{
    font-size: 30px;
    font-weight: 700;
}